.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.tile {
  height: 12px;
  width: 12px;
}

.lightTile {
  background: #cfcfcf;
}

.darkTile {
  background: gainsboro;
}

.head {
  background: yellow;
}

.segment {
  background: #c3c400;
}

.tail {
  background: #b06c30;
}

.leaf {
  background: yellowgreen;
}

.intersection {
  background: red;
}

.gameContainer {
  position: absolute;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullWindow {

}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  color: white;
  background: black;
  font-family: Helvetica;
}

