@import './src/app/util/common';

.container {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:  center;
  background: $darkBrown;
}

.headerItem {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  padding: $normalGap;
}
