.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

body {
    background: lightsteelblue;
}

.pageContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.led {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5em;
}

.ledDot {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
}

.activeLedDot {
    background: red;
}

.inactiveLedDot {
    background: slategrey;
}

.appContainer {
    align-items: center;
}

.matrixSettings {
    color: aliceblue;
    background: dimgray;
    padding: 1em;
    margin: 0 auto;
}

.numberInput {
    color: aliceblue;
    background: none;
    width: 2em;
    border: none;
    text-align: center;
}

.timesBox {
    width: 2em;
    text-align: center;
}

.digitsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.displayContainer {
    background: #cceeff;
    padding: 0.2em;
}

.displayRow {
    height: 1em;
}

.buttonColum {
    @extend .column

}

.calcButton {
    width: 2em;
    height: 1.7em;
    background: #c0c0c0;
    border: none;
}

.operationsButton {
    @extend .calcButton;
    background: #dadada;
}

.equalsButton {
    @extend .calcButton;
    width: 6em;
    background: #5dc9ff;
}
